.coloring-text {
  color: #f06;
  animation: color-change-animation 4s linear infinite alternate;
}
  
.coloring-text-hover:hover {
  color: #f06;
  animation: color-change-animation 3s linear infinite alternate;
}

@keyframes color-change-animation {
  0% {
    color: #f06;
  }
  50% {
    color: #ff6;
  }
  100% {
    color: #6f6;
  }
}

